body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}


nav {
	background-image: url(goa.png);
	border-radius: 30px;
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 50px;
	background-color: #a4fa94;
	border-bottom: 2px solid #93b597;
	padding-top: 10px;

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: right;
}

nav li {
	margin:0 30px;
}

nav a {
	display: flex;
	padding: 17px;
	color:black;
	text-decoration: none;
}

nav a:hover {
	background-color: #7cc170;
	color: rgb(0, 0, 0);
    border-radius: 4px;
}

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 0px solid #a7aaab;
  }
  
  th {
    background-color: #d0ffc8;
  }
  
  tr:hover {
    background-color: #ffe4e4;
  } 
  
  h2 {	
	text-shadow: 3px 0px 7px rgb(0, 0, 0);
	text-align: center;
	color: rgb(8, 81, 36);	
}

h3 {
	list-style-image: url(download.jpg);
	text-shadow: 3px 1px 7px rgb(0, 0, 0);
	margin-left: 40px;
	color: rgb(8, 81, 36);
	text-align: left;
}

.img {
	padding-top: 20px;
	margin-left: 200px;
}

.gamarjoba {
	padding-right: 530px;
	color: #164d0d;
}
