body {
	background-color: black;
	margin: 0;
	padding: 0;
}

h2 {	
	text-align: center;
	color: green;	
}

h3 {
	margin-left: 40px;
	color: green;
	text-align: left;
}

.img {
	padding-top: 70px;
	margin-left: 200px;
}

nav {
	background-image: url(goa.png);
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 50px;
	background-color: #bfeefd;
	border-bottom: 2px solid #a3a1a1;
	padding: 7px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: right;
}

nav li {
	margin:0 50px;
}

nav a {
	display: flex;
	padding: 10px;
	color:black;
	text-decoration: none;
}

nav a:hover {
	background-color: #87c7d8;
	color: rgb(0, 0, 0);
    border-radius: 4px;
    width: 100px;
    height: 27px;
}
  
  body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 0px solid #a7aaab;
  }
  
  th {
    background-color: #b1e8f8;
  }
  
  tr:hover {
    background-color: #fee2e2;
  } 
